@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
    line-height: 1.6;
}

#wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 80vh auto;
    grid-template-areas: 
    'he he'
    'sc sc'
    'ft ft'
}

header{
    grid-area: he;
    background-color:#5B618A;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 1px 4px 4px rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    z-index: 3;
}

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-left: 10px;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 110%;
    height: 3px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -6px);
}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-6.5px, 3.5px);;
}

.hamburger.is-active .bar{
    opacity: 0;
}

.navigator{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 20%;
    min-height: 86vh;
    display: block;
    z-index: 2;
    background-color: #92b6b1;
    padding-top: 90px;
    transition: 0.7s;
}

.navigator.is-active{
    bottom:0;
}

.navigator a{
        display: block;
        width: 100%;
        max-width: 100px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: #4b68648a;

        color: white;
        text-decoration: none;
}

.navigator a:hover{
    background-color: #4f6d69 ;
}

.logo {
    width: auto;
    height: 90px;
    margin-top: -15.5px;
}


section{
    grid-area: sc;
    background-color: #5B618A;
    display: flex;
    align-items: center;
    padding: 200px;
}

.container{
    width: 100rem;
    height: 40rem;
    border: solid 1px red;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 35px;
}

.list-item{
    border: solid 1px red;
    height: 50px;
    width: 40rem;
    margin-top: -100px;
}

footer{
    grid-area: ft;
    height: auto;
    background-color: #92B6B1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
}

.footer-content{
    margin: 10px;
}

.social-media{
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    width: 350px;
}

#follow-us{
    display: flex;
    justify-content: center;
}

#footer-content-links{
    padding-right: 100px;
}

#footer-content-links li {
    margin: 10px;
    margin-left: -15px;
}

#links{
    display: flex;
    justify-content: space-between;
    width: 12rem;
    flex-wrap: wrap;
}

#footer-content-links a {
    text-decoration:none ;
    color: black;

}

#footer-content-links a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.social-media img{
    height: 30px;
    width: auto;
    margin-top: 25px;
}